@media screen and (max-width: 769px) {
  .serie-select {
    position: absolute;
    top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-Autosuggest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form-Autosuggest input {
    width: 300px;
  }

  .container-Autosuggest {
    background-color: white;
    top: 10px;
    width: 300px;
    z-index: 2;
  }

  .error-mobile {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #fff8e3;
    text-align: center;
    width: 300px;
  }
}
