@media screen and (max-width: 769px) {
  .serie-select {
    position: absolute;
    top: 160px;
    left: 12px;
  }

  .form-Autosuggest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-Autosuggest input {
    width: 300px;
  }

  .container-Autosuggest {
    background-color: white;
    top: 10px;
    width: 300px;
    z-index: 2;
  }
}
