.display-FicheTech {
  display: flex;
  margin: 4% 10%;
  height: 450px;
}

.card-imgFicheTech {
  width: 300px;
  height: 450px;
}

.display-FicheTech img {
  border-radius: 10px;
}

.description-FicheTech {
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-FicheTech {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.uniqueTag-FicheTech {
  display: flex;
  border: solid 1px #01356d;
  border-radius: 10px;
  padding: 2px;
  background-color: #fff8e3;
  margin: 10px;
}

.overview-FicheTech {
  padding: 10px 0;
  text-align: justify;
}

.baseline-FicheTech {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.note-FicheTech {
  display: flex;
  align-items: baseline;
}

.note-sup8 {
  color: #1ebc24;
  font-size: 25px;
  font-weight: bold;
}

.note-sup6 {
  color: orange;
  font-size: 25px;
  font-weight: bold;
}

.note-inf6 {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.button-FicheTech {
  border-radius: 50px;
  padding: 5px 15px;
  background-color: #e1af74;
  color: white;
  border: none;
}

.button-FicheTech:hover {
  cursor: pointer;
}

.closeCross {
  display: none;
}

@media screen and (max-width: 1024px) {
  .display-FicheTech {
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5000;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
  }

  .closeCross {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 6000;
    right: 25px;
    background-color: inherit;
    border: solid 1px #01356d;
    border-radius: 50px;
    color: #01356d;
  }

  .closeCross img {
    width: 100%;
  }

  .closePopUp {
    display: none;
  }
}
