.LuckySection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.LuckyTitle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.luckyBtn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  border: 0px;
  background: #e1af74;
  border-radius: 40px;
  padding: auto;

  height: 65px;
  width: 350px;
  color: white;
  font-size: larger;
  z-index: 4200;
  cursor: pointer;

  margin-bottom: 40px;
}
.luckyBtn:hover {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  border: 0px;
  background: #df9c51;
  transition: ease-in-out 0.4s;
  border-radius: 40px;
  padding: auto;

  height: 65px;
  width: 350px;
  color: white;
  font-size: larger;
  cursor: pointer;
  z-index: 4200;
}
.reco5 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
