.cards-MapReco {
  width: 200px;
}

.cards-MapReco img {
  border-radius: 10px;
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.cards-MapReco:hover {
  cursor: pointer;
}

.year-MapReco {
  font-size: 16px;
  color: #01356d;
}

@media screen and (max-width: 769px) {
  .cards-MapReco:hover {
    cursor: unset;
  }
}
