.mobile-position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

section {
  background-image: url(../images/background-matchmaking.-mobile.jpeg);
  height: 1000px;
}
