section.matchmaking-mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  section.matchmaking-mobile {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-matchmaking.-mobile.jpeg);
    height: 400px;
    width: 100%;
  }

  .mobile-position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 15px;
  }

  .matchmaking-mobile h2 {
    padding: 30px 10px;
    margin-bottom: 0px;
  }
}
