.container-nos-reco {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  width: 100%;
}

.cards-nos-reco {
  padding: 10px;
}

.cards-nos-reco img {
  border-radius: 10px;
}

.subtitle-nos-reco {
  text-align: center;
  font-size: 20px;
}

.year-nos-reco {
  font-size: 16px;
}
