.Error {
  color: yellow;
  font-size: 30px;
  height: 50px;
  width: 200px;
  margin-top: 10px;
  z-index: 8;
}

.SerieForm2 {
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
}

.SerieForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 70%;
}

.Btnserie1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 0px;
  background: #e1af74;
  border-radius: 40px;
  padding: 10px 30px;
  height: 65px;
  color: white;
  font-size: larger;
  margin-top: -80px;
  margin-left: -50px;
  z-index: 4200;
}
.Btnserie1:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border: 0px;
  background: #df9c51;
  transition: ease-in-out 0.4s;
  border-radius: 40px;
  padding: 10px 30px;

  height: 65px;
  color: white;
  font-size: larger;
  margin-top: -80px;
  margin-left: -50px;
  z-index: 4200;
}

/* .Btnserie1:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
   
  border: 0px;
  background: #E1AF74;
  transition: ease-in-out 0.4s;  
  border-radius: 40px;
  padding: 10px 30px;
  
  height: 65px;
  color: white;
  font-size: larger;
  margin-top: 40px;
  margin-left: -50px;
  z-index:2000;  
} */

.Btnserie2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border: 0px;
  background: rgb(72, 158, 238);
  border-radius: 40px;
  padding: 10px 30px;
  height: 65px;
  color: white;
  font-size: larger;
  margin-top: -80px;
  margin-left: -50px;
  z-index: 4200;
}

.Btnserie2:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border: 0px;
  background: rgb(39, 89, 136);
  transition: ease-in-out 0.4s;
  border-radius: 40px;
  padding: 10px 30px;

  height: 65px;
  color: white;
  font-size: larger;
  margin-top: -80px;
  margin-left: -50px;
  z-index: 4200;
}

.SerieForm input {
  margin-bottom: 1em;
  width: 70%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-top: -80px;
  font-size: 20px;
  z-index: 4000;
}

.containerAutosuggest {
  position: absolute;
  margin-top: -15px;
  z-index: 10;
  width: 20%;
}

@media screen and (max-width: 769px) {
  .SerieForm2 {
    display: none;
  }
}

/* .firstSerie{
    border: 0px;
    background: #E1AF74;
    transition: ease-in-out 0.4s;
    border-radius: 15px;
    padding: 10px;
    margin-right: -300px;
    margin-top: 20px;
    color: white;
    z-index:3000;
  } */
