@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #01356d;
}

h1 {
  font-size: 48px;
  font-family: "Special Elite", cursive;
  color: #fff8e3;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 30px;
}
